@media (min-width: 280px) and (max-width: 340px) {
  .block_best {
    width: 100%;
    min-height: 470px;
  }

  .text_best {
    padding-top: 1%;
    font-size: 13px;
    padding-left: 5%;
  }

  .text_h1, .text_h2, .text_h3 {
    padding-top: 5px;
    line-height: 25px;
    padding-left: 5%;
    font-size: 10px;
  }

  .text_p1, .text_p2, .text_p3 {
    width: 30%;
    font-size: 8px;
    line-height: 12px;
    padding-left: 5%;
  }

  #first_photo {
    padding-top: 100px;
    padding-left: 115px;
    height: 100px;
    width: 25%;
  }

  #third_photo {
    padding-top: 215px;
    padding-left: 115px;
    height: 100px;
    width: 25%;
  }

  #second_photo {
    padding-top: 100px;
    padding-left: 200px;
    height: 100px;
    width: 25%;
  }

  #fourth_photo {
    padding-top: 215px;
    padding-left: 200px;
    height: 100px;
    width: 25%;
  }

  .our_home {
    width: 100%;
    height: 550px;
  }

  .home_photo {
    width: 100%;
    height: 450px;
  }

  .text_about_home {
    padding-top: 12px;
    padding-left: 15px;
    font-size: 20px;
    width: 40%;
  }

  #hom1_photo, #hom2_photo, #hom3_photo {
    width: 40%;
    height: 30%;
    border: 3px solid #000000;
  }

  #hom1_photo {
    margin-left: 55%;
  }

  #hom2_photo {
    margin-left: 30%;
    margin-top: 47%;
  }

  #hom3_photo {
    margin-left: 15%;
    margin-top: 90%;
  }

  .biggest_works {
    width: 100%;
    height: 50px;
  }

  .biggest_text {
    left: 20%;
    top: -65%;
    font-size: 15px;
  }

  #bg_photo1, #bg_photo2, #bg_photo3 {
    width: 30%;
    height: 12%;
    border: 3px solid #000000;
  }

  #bg_photo1 {
    margin-top: 6%;
    margin-left: 8%;
  }

  #bg_photo2 {
    margin-top: 25%;
    margin-left: 25%;
  }

  #bg_photo3 {
    margin-top: 9%;
    margin-left: 48%;
  }

  #bg_photo4 {
    width: 35%;
    height: 10%;
    margin-top: 33%;
    border: 3px solid #000000;
  }

  .more_home_bu {
    width: 60%;
    margin-top: 57%;
    line-height: 20px;
    font-size: 20px;
  }

  #photo_bu1, #photo_bu2, #photo_bu3 {
    margin-top: 75%;
    height: 12%;
    width: 28%;
    border: 3px solid #000000;
  }

  #photo_bu1 {
    margin-left: 4%;
  }

  #photo_bu2 {
    margin-left: 35%;
  }

  #photo_bu3 {
    margin-left: 67%;
  }

  .soc_media {
    margin-top: 90%;
    width: 100%;
    min-height: 65px;
  }

  .our_media {
    font-size: 15px;
    left: 35%;
  }

  .here_you_are {
    left: 22%;
    font-size: 13px;
  }

  .inst, .vk, .tg {
    width: 6%;
    height: 30%;
  }

  .inst {
    left: 32%;
  }

  #inst {
    margin-top: 25%;
  }

  .tg {
    left: 49%;
  }

  #tg {
    margin-top: 15%;
  }

  .vk {
    left: 65%;
  }

  #vk {
    margin-top: 15%;
  }
}